<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- context:annotation-config을 어노테이션 기반으로 쓰겠다.-->

<context:annotation-config />

<context:component-scan base-package="com.hanbit.spring.core"></context:component-scan>


<!-- 기존 방법.. 일단 주석처리
	<bean id = "firstBean" class="com.hanbit.spring.FirstBean">
		<property name="secondBean" ref ="secondBean"></property>
	</bean>
	
	<bean id = "secondBean" class="com.hanbit.spring.secondBean">
	</bean>
-->	
	
	
</beans>
